<p id="notice"><%= notice %></p>

<p>
  <b>Roll number:</b>
  <%= @student.roll_number %>
</p>

<p>
  <b>Adhar number:</b>
  <%= @student.adhar_number %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
